<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">
  <script src="../static/js/main.js" type="module" defer></script>
  <title>Classificador de Email</title>
</head>
<body class="bg-gray-200 flex flex-row font-display text-shadow-sm/30">
  <div class="h-screen w-full m-4 space-y-6">
    <aside id="sidebar" class="w-full bg-emerald-800 text-zinc-50 p-4 mx-auto place-self-center rounded-xl">
      <h1 class="text-2xl font-bold mb-6 place-self-center underline">AuthMail</h1>
      <nav>
        <ul>
          <li class="mb-4">
            <button id="travel-classify" data-target-template="template-classify" class="nav-button w-full flex items-center 
            justify-between bg-emerald-900 hover:bg-emerald-950 p-2 rounded transition-transform delay-100 duration-200 
            hover:scale-101">
              <span>Analisar E-mail</span>
              <svg class="h-5 w-5 mb-0.5" fill="none" stroke="currentColor" stroke-width="1.5">
              <use href="#icon-add"></use>
              </svg>
            </button>
          </li>
          <li class="mb-4">
            <button id="travel-triggers" data-target-template="template-triggers" class="nav-button w-full flex items-center 
            justify-between bg-emerald-900 hover:bg-emerald-950 p-2 rounded transition-transform delay-100 duration-200 
            hover:scale-101">
              <span>Gerenciar Triggers</span>
              <svg class="h-5 w-5 mb-0.5" fill="none" stroke="currentColor" stroke-width="1.5">
              <use href="#icon-settings"></use>
              </svg>
            </button>
          </li>
          <li>
            <button id="travel-history" data-target-template="template-history" class="nav-button w-full flex items-center 
            justify-between bg-emerald-900 hover:bg-emerald-950 p-2 rounded transition-transform delay-100 duration-200 
            hover:scale-101">
              <span>Histórico</span>
              <svg class="h-5 w-5 mb-0.5" fill="none" stroke="currentColor" stroke-width="1.5">
              <use href="#icon-history"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main-content" class="text-shadow-2xs/30">
      </main>
  </div>

  <div id="modal-overlay" class="fixed inset-0 bg-black/60 hidden items-center justify-center">
    <div id="edit-trigger-modal" class="bg-white p-6 rounded-lg shadow-xl max-w- mx-4">
      <h3 class="text-xl font-bold mb-4 text-gray-800 place-self-center">Editar Trigger</h3>
      <div class="space-y-4">
        <input type="hidden" id="edit-trigger-index">
        <div class="flex flex-col">
          <label for="edit-priority-input">Prioridade:</label>
          <input type="number" id="edit-priority-input" class="w-40 p-2 border rounded">
        </div>
        <div class="flex flex-col">
          <label for="edit-keywords-input">Keywords (separadas por vírgula):</label>
          <input type="text" id="edit-keywords-input" class="w-40 p-2 border rounded">
        </div>
        <div class="flex flex-col">
          <label for="edit-response-input">Resposta:</label>
          <input type="text" id="edit-response-input" class="w-40 p-2 border rounded">
        </div>
      </div>
      <div class="mt-6 flex justify-between">
        <button id="save-trigger-btn" class="bg-emerald-blue-light text-white p-2 rounded hover:bg-emerald-blue 
        max-w-20 text-sm text-center transition-transform delay-100 duration-200 hover:scale-101">Salvar</button>
        <button id="close-modal-btn" class="bg-gray-300 p-2 rounded hover:bg-gray-400 max-w-20 text-sm text-center
        transition-transform delay-100 duration-200 hover:scale-101">Cancelar</button>
        <button id="delete-trigger-btn" class="bg-red-900 text-white p-2 rounded hover:bg-emerald-red 
        max-w-20 text-sm text-center transition-transform delay-100 duration-200 hover:scale-101">Excluir</button>
      </div>
    </div>
  </div>


  <template id="template-classify">
    <div class="w-full max-w-3xl mx-auto bg-white p-8 rounded-xl shadow-md">
      <h2 class="text-xl font-bold text-gray-900 mb-6 place-self-center">Analisar Novo E-mail</h2>
      <div id="email-form" class="space-y-4">
        
        <div>
          <label for="sender-input">Remetente:</label>
          <input type="text" id="sender-input" class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md">
        </div>
        <div>
          <label for="subject-input">Assunto:</label>
          <input type="text" id="subject-input" class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md">
        </div>

        <div>
          <label for="email-input">Corpo do Email:</label>
          <textarea id="email-input" rows="7" placeholder="Digite ou cole o conteúdo do email aqui..." class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md"></textarea>
        </div>

        <button id="classify-btn" class="w-full bg-emerald-800 hover:bg-emerald-900 
        p-2 rounded transition-transform delay-100 duration-200 hover:scale-101 text-zinc-50 text-center">
        Analisar Email</button>
      </div>
      
      <div id="results" class="mt-8" style="display: none;">
        <h3>Resultado da Análise</h3>
        <div>
          <p><strong>Classificação:</strong> <span id="result-classification"></span></p>
          <p><strong>Resposta Sugerida:</strong></p>
          <p id="result-response"></p>
        </div>
      </div>
    </div>
  </template>


  <template id="template-triggers">
    <div class="w-full max-w-3xl mx-auto bg-white p-8 rounded-xl shadow-md">
      <h2 class="text-xl font-bold text-gray-800 mb-6 place-self-center">Gerenciar Triggers</h2>
      <div id="trigger-form" class="space-y-4 mb-8">
        <input type="number" id="priority-input" placeholder="Prioridade (ex: 1)" class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md">
        <input type="text" id="keywords-input" placeholder="Keywords (separadas por vírgula)" class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md">
        <input type="text" id="response-input" placeholder="Resposta associada" class="bg-gray-50 border border-gray-300 p-2 rounded w-full shadow-md">
        <button id="add-trigger-btn" class="w-full bg-emerald-800 hover:bg-emerald-900 p-2 rounded transition-transform delay-100 duration-200 hover:scale-101 text-zinc-50 text-center">Adicionar Trigger</button>
      </div>
      <h3 class="text-lg font-bold text-gray-800 mb-4 place-self-center">Triggers Atuais:</h3>
      <div class=" bg-gray-50 p-2 rounded-xl shadow-md border border-emerald-800 mb-4">
        <ul id="trigger-list" class="list-disc space-y-2 "></ul>
      </div>
      <p class="text-sm place-self-center">A prioridade indica a ordem de ativação da sugestão.</p>
    </div>
  </template>


  <template id="template-history">
    <div class="w-full max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">Histórico da Sessão</h2>
      <ul id="history-list" class="list-disc pl-5 space-y-2"></ul>
    </div>
  </template>




  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-add" viewBox="0 0 20 20">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </symbol>
  
  <symbol id="icon-settings" viewBox="0 0 20 20">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 
    0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 
    0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
  </symbol>
  
  <symbol id="icon-history" viewBox="0 0 22 22">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
  </symbol>
</svg>
</body>
</html>